html, Body {
    /*стили для БОДИ */
    position: relative;
    width: 100%;
    max-width: 1324px;
    height: 667px;
   
    background: #ffffff;
    font-family: "Inter";
}

* {
  margin: 0px;
  padding: 0px;
  
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*стили для БОДИ конец */


/*Блок загрузки прелайдер */
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 1s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #fdfdfd;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 1s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: 8s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 6.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
/*Блок загрузки прелайдер конец*/


/*контейнер*/
.container {
    display: block;
    position: relative;
    max-width: 100%;
  
    height: 667px;
    margin: 0 auto;
    padding: 0;
}

.baner {
    position: absolute;
    width: 1324px;
    height: 667px;
  }
 /*контейнер*/ 


  /*Стили текстов*/
.text_1 {
    position: absolute;
    width: 800px;
    height: 90px;
    left: 130px;
    top: 250px;
        
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800px;
    font-size: 90px;
    line-height: 80px;
    text-align: center;
        
    color: #000000;
  }

.text_1 {
    transition: 2s; /* Время эффекта */
    text-align: center; 
  }

.text_1:hover {
    transform: scale(0.6); /* Увеличиваем масштаб */
  }
  
.text_2 {
    position: absolute;
    width: 58px;
    height: 29px;
    left: 1076px;
    top: 345px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    
    color: #484F48;
    
    text-shadow: 0px 4px 1px #18F714;
  }

.text_2 {
    transition: 2s; /* Время эффекта */
    text-align: center; 
  }

.text_2:hover {
    transform: scale(0.6); /* Увеличиваем масштаб */
  }
 /*Стили текстов конец*/ 


 /*Стили ИКОНКИ*/
.icons {
    position: absolute;
    width: 120px;
    height: 110px;
    left: 1045px;
    top: 230px;
  }

.icons {
    transition: 2s; /* Время эффекта */
    text-align: center; 
  }
.icons:hover {
    transform: scale(0.6); /* Увеличиваем масштаб */
  }
  /*Стили ИКОНКИ КОНЕЦ*/