/*стили для БОДИ */
html, Body {
  background: url(../1.About/2848-1600.png) no-repeat center;
  background-size: cover;
  width:100%; height:100%; margin:0;

  font-family: "More is less 22 Displacement";
  font-family: "Inter";
  font-family: "WG Patchwork";
  font-family: "Chakra Petch";
  font-family: "Libre Barcode 39 Extended Text" Regular;
  font-family: "Jura" Regular;
  font-family: "Lucida Sans Unicode";
  font-family: "Montserrat Alternates"Light;  
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

 *,
 *:before,
 *:after {
   box-sizing: border-box;
 }

ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}


/* 
  body{
    background: url(../1.About/2848-1600.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../1.About/2848-1600.png',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../1.About/2848-1600.png', sizingMethod='scale');
  } */
/*стили для БОДИ конец */
  
/*контейнер*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 0 0px;
  bottom: 0 0 0 0px;
}

/*контейнер*/
.container {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

/*контейнер*/
  
/*заголовок + переход на главный блок*/
.oll_in_one {
  position: absolute;
  width: 240px;
  height: 70px;
  left: 80px;
  top: 30px;
}

.text_1 {
  width: 70px;
  left: 5px;
  top: 10px;
  position: relative;
  font-family: 'More is less 22 Displacement';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 63px;
  color: #000000;
  text-shadow: 3px 2px 30px #FFFFFF;
}
.text_1 {
  transition: 1s; /* Время эффекта */
}
.text_1:hover {
  transform: scale(1.6); /* Увеличиваем масштаб */
}

.text_2 {
  width: 22px;
  left: 100px;
  bottom: 50px;
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-shadow: 2px 5px 3px #233334;
}
.text_2 {
  transition: 1s; /* Время эффекта */
}
.text_2:hover {
  transform: scale(1.6); /* Увеличиваем масштаб */
}

.text_3 {
  width: 90px;
  left: 135px;
  bottom: 75px;
  position: relative;
  font-family: 'WG Patchwork';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}
.text_3 {
  transition: 1s; /* Время эффекта */
}
.text_3:hover {
  transform: scale(1.6); /* Увеличиваем масштаб */
}
/*заголовок + переход на главный блок конец*/

/*Блок текста*/
.text {
  position: absolute;
  width: 440px;
  height: 250px;
  left: 85px;
  top: 110px;
}

.t1 {
  position: relative;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.t2 {
  position: relative;
  top: 15px;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.t3 {
  position: relative;
  top: 30px;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.t4 {
  position: relative;
  top: 45px;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;  
}
/*Блок текста*/  

/*другие элементы,штрих код,полоса,текст */
.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 73.9%;
  top: 50px;
}

.polosa {
  position: relative;
  width: 295px;
  height: 25px;
  background: #000000;
  transform: translateX(20%);
  animation: ani 2s forwards;
  
}
@keyframes ani {
  0% {transform: translateX(20%);}
  100% {transform: translateY(0);}
}

.recommended {
  position: relative;
  width: 260px;
  bottom: 32px;
  margin-left: 7.4px;
  white-space: nowrap;
  font-family: 'Lucida Sans Unicode';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 2.5px;
  color: #FFFFFF;
  transform: translateX(20%);
  animation: ani 2s forwards;
  
} 
@keyframes ani {
  0% {transform: translateX(20%);}
  100% {transform: translateY(0);}
}

.Weare {
  position: relative;
  bottom: 20px;
  white-space: nowrap;
  font-family: 'Libre Barcode 39 Extended Text';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  transform: translateX(20%);
  animation: ani 2s forwards;
}
@keyframes ani {
  0% {transform: translateX(20%);}
  100% {transform: translateY(0);}
}
/*другие элементы,штрих код,полоса,текст */



/*соцсети */
.social {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 18.2%;
  top: 58%;
}

.telegram {
  position: relative;
  width: 39px;
  height: 41.64px;
  top: 5px;
  left: 50px;
  filter: drop-shadow(0px 4px 4px #233334);
  transform: rotate(1.71deg);
}
.telegram {
  transition: 0.5s; /* Время эффекта */
}
.telegram:hover {
  transform: scale(1.6); /* Увеличиваем масштаб */
}

.whatsapp {
  position: relative;
  top: 40px;
  right: 15px;
  filter: drop-shadow(0px 4px 4px #233334);
  transform: rotate(24.36deg);
}
.whatsapp {
  transition: 0.5s; /* Время эффекта */ 
}
.whatsapp:hover {
  transform: scale(1.6); /* Увеличиваем масштаб */
}

.instagram {
  position: relative;
  top: 75px;
  right: 85px;
  filter: drop-shadow(0px 4px 4px #233334);
  transform: rotate(-10.88deg);
}
.instagram {
  transition: 0.5s; /* Время эффекта */ 
}
.instagram:hover {
  transform: scale(1.6); /* Увеличиваем масштаб */
}
/*соцсети конец*/


/*меню*/
.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 216px;
  top: 252px; 
}

.menu_1 {
  position: relative;
  text-decoration: none;
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-shadow: 0px 7px 5px #000000;
}
a.menu_1{
  color: #ffffff; /* Цвет текста */
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
a.menu_1:hover{
  color: #000000; /* Меняем цвет текста */
}

.menu_2 {
  position: relative;
  text-decoration: none;
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  text-shadow: 0px 7px 7px #000000;
}
a.menu_2{
  color: #ffffff; /* Цвет текста */
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
a.menu_2:hover{
  color: #000000; /* Меняем цвет текста */
}
/*меню*/


/*Блок загрузки прелайдер */
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 1s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #ffffff;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 1s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: 8s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 6.3s opacity;
  opacity: 0;
}

.loaded .preloader {
display: none;
}
/*Блок загрузки прелайдер конец*/



/* Брек поинт */
@media (min-width: 1024px) and (max-width: 1270px){
.Body {
  background: url(../1.About/1024-768.png) no-repeat center;
  background-size: cover;
  overflow: hidden;
} 

.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 70%;
  top: 5px;
}

.social {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 6%;
  top: 55.7%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 30px;
  top: 252px; 
}

.oll_in_one {
  position: absolute;
  width: 240px;
  height: 70px;
  left: 15px;
  top: 35px;
}

.text {
  position: absolute;
  width: 440px;
  height: 250px;
  left: 20px;
  top: 110px;
}

#t {
  font-size: 80%;
}
}
@media (min-width: 1270px) and (max-width: 1360px){
.Body {
  background: url(../1.About/2848-1600.png) no-repeat center;
  background-size: cover;
  } 

.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 75.6%;
  top: 41px;
}

.social {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 13.5%;
  top: 55.8%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 170px;
  top: 252px; 
}

.oll_in_one {
  position: absolute;
  width: 240px;
  height: 70px;
  left: 15px;
  top: 35px;
}

.text {
  position: absolute;
  width: 440px;
  height: 250px;
  left: 20px;
  top: 110px;
}

#t {
  font-size: 80%;
}
}
@media (min-width: 1360px) and (max-width: 1430px){
.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 77.4%;
  top: 41px;
}

.social {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 17.1%;
  top: 55.5%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 165px;
  top: 252px; 
}

.oll_in_one {
  position: absolute;
  width: 240px;
  height: 70px;
  left: 25px;
  top: 35px;
}

.text {
  position: absolute;
  width: 510px;
  height: 250px;
  left: 30px;
  top: 115px;
}

#t {
  font-size: 100%;
}
}



@media (min-width: 1374px) and (max-height: 801px){
.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 77.5%;
  top: 41px;
}

.social {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 16.3%;
  top: 56.5%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 12%;
  top: 252px; 
}
}
@media (min-width: 1384px) and (max-height: 799px){
  .bloc_weare {
    position: absolute;
    width: 295px;
    height: 110px;
    left: 77.5%;
    top: 41px;
  }

  .nav {
    position: absolute;
    width: 138px;
    height: 60px;
    right: 12%;
    top: 252px; 
  }
}
@media (min-width: 1422px) and (max-height: 829px){
.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 78.3%;
  top: 41px;
}

.social {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 16%;
  top: 57%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 11.3%;
  top: 252px; 
}
} 

  

@media (min-width: 1430px) and (max-width: 1526px){
.Body {
  background: url(../1.About/1440-900.jpg) no-repeat center;
  background-size: cover;
} 

.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 78.8%;
  top: 41px;
}

.social {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 13.8%;
  top: 58.5%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 165px;
  top: 250px; 
}

.oll_in_one {
  position: absolute;
  width: 240px;
  height: 70px;
  left: 40px;
  top: 35px;
}

.text {
  position: absolute;
  width: 510px;
  height: 250px;
  left: 45px;
  top: 125px;
}

#t {
  font-size: 100%;
}
}

@media (min-width: 1526px) and (max-width: 1910px){
.Body {
  background: url(../1.About/1536-864.png) no-repeat center;
  background-size: cover;
} 

.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 80%;
  top: 41px;
}

.social {
  position: absolute;
  width: 150px;
  height: 170px;
  left: 17.2%;
  top: 57.5%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 160px;
  top: 250px; 
}

.oll_in_one {
  position: absolute;
  width: 300px;
  height: 70px;
  left: 43px;
  top: 35px;
  
}

.text_1 {
  font-size: 380%;
}

.text_2 {
  margin-left: 15px;
  font-size: 200%;
}

.text_3 {
  margin-left: 20px;
  font-size: 300%;
}

.text {
  position: absolute;
  width: 510px;
  height: 250px;
  left: 45px;
  top: 125px;
}

#t {
  font-size: 110%;
}
}

@media (min-width: 1600px) and (max-height: 900px){
.Body {
  background: url(../1.About/1600-900.jpg) no-repeat center;
  background-size: cover;
} 

.bloc_weare {
  position: absolute;
  width: 295px;
  height: 110px;
  left: 80.7%;
  top: 60px;
}

.social {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 18%;
  top: 58%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 138px;
  height: 60px;
  right: 10.6%;
  top: 290px; 
}

.oll_in_one {
  position: absolute;
  width: 300px;
  height: 70px;
  left: 88px;
  top: 45px;
  
}

.text {
  position: absolute;
  width: 520px;
  height: 250px;
  left: 90px;
  top: 120px;
}

#t {
  margin-top: 10px;
  line-height: 20px;
}
} 

@media (min-width: 1910px) and (max-width: 2550px){
.Body {
  background: url(../1.About/1920-1080.png) no-repeat center;
  background-size: cover;
} 

.bloc_weare {
  position: absolute;
  width: 320px;
  height: 110px;
  left: 82.6%;
  top: 60px;
}

.polosa {
  width: 320px;
  height: 35px;
}

.recommended {
  font-size: 16px;
  width: 260px;
  bottom: 35px;
}

.Weare {
  font-size: 60px;
  bottom: 20px;
}

.social {
  position: absolute;
  width: 150px;
  height: 170px;
  left: 18%;
  top: 61%;
}

#social_bloc1 {
  width: 50px;
  height: 48.64px;
  left: 68px;
}
#social_bloc2 {
  width: 57px;
  height: 57.64px;
  top: 45px;
  right: 15px;
}
#social_bloc3 {
  width: 57px;
  height: 57.64px;
  top: 20px;
  left: 15px;
}

.nav {
  position: absolute;
  width: 250px;
  height: 60px;
  right: 80px;
  top: 328px; 
}

#nav_text {
  font-size: 130%;
}

.oll_in_one {
  position: absolute;
  width: 300px;
  height: 70px;
  left: 43px;
  top: 60px;
  
}

.text_1 {
  font-size: 480%;
}

.text_2 {
  margin-left: 35px;
  font-size: 280%;
}

.text_3 {
  margin-left: 45px;
  font-size: 400%;
}

.text {
  position: absolute;
  width: 700px;
  height: 250px;
  left: 45px;
  top: 145px;
}

#t {
  font-size: 150%;
  margin-top: 15px;
}
}

@media (min-width: 2550px) and (max-width: 2600px){
.Body {
  background: url(../1.About/2560-1440.jpg) no-repeat center;
  background-size: cover;
} 

.bloc_weare {
  position: absolute;
  width: 505px;
  height: 180px;
  left: 79.8%;
  top: 90px;
}

.polosa {
  width: 500px;
  height: 60px;
}

.recommended {
  font-size: 28px;
  width: 480px;
  bottom: 50px;
  margin-left: 13px;
}

.Weare {
  font-size: 93.5px;
  top: 5px;
  margin-left: 3px
}

.social {
  position: absolute;
  width: 250px;
  height: 300px;
  left: 18.5%;
  top: 57.5%;
}

#social_bloc1 {
  width: 78px;
  height: 73.64px;
  left: 85px;
  top: 25px;
}
#social_bloc2 {
  width: 87px;
  height: 87.64px;
  top: 90px;
  right: 35px;
}
#social_bloc3 {
  width: 87px;
  height: 87.64px;
  top: 60px;
  left: 13px;
}

.nav {
  position: absolute;
  width: 350px;
  height: 90px;
  right: 155px;
  top: 510px; 
}

#nav_text {
  font-size: 180%;
}

.menu_2 {
  top: 17px;
}

.oll_in_one {
  position: absolute;
  width: 300px;
  height: 70px;
  left: 150px;
  top: 90px;
  
}

.text_1 {
  font-size: 680%;
}

.text_2 {
  margin-left: 70px;
  font-size: 380%;
}

.text_3 {
  margin-left: 90px;
  font-size: 500%;
}

.text {
  position: absolute;
  width: 850px;
  height: 250px;
  left: 150px;
  top: 170px;
}

#t {
  font-size: 180%;
  margin-top: 35px;
  line-height: 35px;
}
}



